.contacts {
  background-color: #fff;
  width: 440px;
  height: 100%;
  margin: 35px 35px 35px 50px;
  border-radius: 20px;
  padding: 30px 40px 0 40px;
  &__profile {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 40px 0;
    &_ava {
      height: 60px;
      margin-right: 23px;
      img {
        height: 100%;
        border-radius: 50%;
      }
    }
    &_info {
      &_name {
        color: #425979;
        font-size: 20px;
        margin-bottom: 13px;
      }
    }
  }
}
